.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.col h2 {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: background 0.3s;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.col button {
  font-size: 1.5rem;
  padding: 10px;
  transition: background 0.3s;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.nav-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nav-btn {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .col {
    flex-direction: row;
    padding: 15px 0;
  }
  .nav-fixed {
    background: #000;
  }
  .nav-btn:active {
    background: rgba(255, 255, 255, 0.1);
  }
}
